<div class="layout-container">
  <!-- Header -->
  <header class="header">
    <div class="header-content">
      <div class="logo">
        <h1>UniFood</h1>
        <span class="area-badge">Area de supervision</span>
      </div>

      <div class="header-actions">
        <div class="user-menu">
          <span class="user-name"> Supervisor </span>
          <div class="menu-container">
            <button class="btn-menu" (click)="abrirMenu()">
              <i class="fas fa-bars"></i>
            </button>

            <div class="dropdown-menu" [class.open]="menuAbierto">
              <button (click)="irADashboard()"><i class="fas fa-chart-simple"></i>&af; Dashboard</button>
              <button (click)="irAReportes()"><i class ="fas fa-receipt"></i>&af; Reportes</button>
              <button (click)="logout()"><i class="fas fa-sign-out-alt"></i>&af; Cerrar sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Contenido principal -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
